* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body::webkit-scrollbar {
    width: 11px;
}

body, html {
    background: rgb(7, 7, 7);
    color: white;
    height: 100vh;
    width: 100vw;
    font-family: 'Raleway';
    color: rgb(168, 168, 168);
    font-size: 18px;
    
}

body::web-scrollbar-thumb {
    background-color: red;
    border-radius: 6px;
    border: 3px solid rgb(63, 95, 199);
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    justify-self: center;
    grid-gap: 10px;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-template-rows: 40px 150px auto auto 100px;
    grid-template-areas: 
    "header header header header"
    "box1 box2 box3 box4"
    "box5 box2 box6 box7"
    "box8 box2 box9 box10"
    "box11 box12 box13 box13";
    padding: 10px;
}

.header {
    grid-area: header;
    font-size: 30px;
    color: rgb(180, 180, 180);
}

.boxes {
    color: rgb(238, 238, 238);
    background: rgb(19, 19, 19);
    text-align: center;
    border-radius: 10px;
}

.box1 {
    grid-area: box1;
    position: relative;
    font-size: 20px;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
    position: relative;
    font-size: 20px;
}

.box4 {
    grid-area: box4;
    position: relative;
    font-size: 20px;
}

.box5 {
    grid-area: box5;
    display: grid;
    text-align: start;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "headerBox"
    "listBox";
    height: auto;
    overflow: auto;
}

.headerBox {
    grid-area: headerBox;
}

.listBox {
    grid-area: listBox;
    overflow: auto;
    background: rgb(12, 12, 12);
}

.box6 {
    grid-area: box6;
    display: grid;
    text-align: start;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "headerBox2"
    "listBox2";
    overflow: auto;
}

.headerBox2 {
    grid-area: headerBox2;
}

.listBox2 {
    grid-area: listBox2;
    background: rgb(12, 12, 12);
    overflow: auto;
}

.box7 {
    grid-area: box7;
    display: grid;
    text-align: start;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "headerBox3"
    "listBox3";
    overflow: auto;
}

.headerBox3 {
    grid-area: headerBox3;
}

.listBox3 {
    grid-area: listBox3;
    background: rgb(12, 12, 12);
    overflow: auto;
}

.box8 {
    grid-area: box8;
    display: grid;
    text-align: start;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "headerBox4"
    "listBox4";
    height: auto;
    overflow: auto;
}

.headerBox4 {
    grid-area: headerBox4;
}

.listBox4 {
    grid-area: listBox4;
    background: rgb(12, 12, 12);
    overflow: auto;
}

.box9 {
    grid-area: box9;
    display: grid;
    text-align: start;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "headerBox5"
    "listBox5";
    height: auto;
    overflow: auto;
}

.headerBox5 {
    grid-area: headerBox5;
}

.listBox5 {
    grid-area: listBox5;
    background: rgb(12, 12, 12);
    overflow: auto;
}

.box10 {
    grid-area: box10;
    display: grid;
    text-align: start;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "headerBox6"
    "listBox6";
    height: auto;
    overflow: auto;
}

.headerBox6 {
    grid-area: headerBox6;
}

.listBox6 {
    grid-area: listBox6;
    background: rgb(12, 12, 12);
    overflow: auto;
}

.box11 {
    grid-area: box11;
    position: relative;
    font-size: 22px;
}

.box12 {
    grid-area: box12;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "firstBox thirdBox"
    "secondBox fourthBox";
    font-size: 22px;
    grid-gap: 7px;
}

.firstBox {
    grid-area: firstBox;
    position: relative;
}

.secondBox {
    grid-area: secondBox;
    position: relative;
}

.thirdBox {
    grid-area: thirdBox;
    position: relative;
}

.fourthBox {
    grid-area: fourthBox;
    position: relative;
}

.box13 {
    grid-area: box13;
    position: relative;
    font-size: 22px;
}

a {
    color: rgb(100, 140, 248);
}

a:hover {
    color: rgb(61, 108, 236);
}

.centered {
    position: absolute;
    width: 100%;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

.box9Totals {
    font-size: 24px;
}

.addPadding {
    padding: 10px;
}rgb(255, 224, 204)

.addPadding2 {
    padding: 6px;
}

.redNumber {
    color: rgb(255, 0, 0);
    font-size: 24px;
}

.bigRedNumber {
    font-size: 65px;
    color: red;
}

.bigGreenNumber {
    font-size: 65px;
    color: rgb(70, 194, 80);
}

.countryColor {
    color: rgb(224, 224, 224);
}

.smallTitle {
    height: auto;
    background: rgb(19, 19, 19);
    border-bottom: 5px solid rgb(25, 52, 75);
    font-size: 24px;
    text-align: center;
    font-variant: small-caps;
    padding: 10px;
}

.thinScrollbar {
    scrollbar-color: rgb(90, 90, 90) grey;
    scrollbar-width: thin;
}

.divider {
    font-weight: 400;
    border-bottom: solid 1px rgb(107, 107, 107);
    margin-bottom: 4px;
}

#mapid {
    height: 100%;
}

#lastUpdated {
    color: rgb(115, 145, 245);
}

.leaflet-container {
    background: rgb(7, 7, 7);
    color: white;
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: 600;
}

.leaflet-popup-content-wrapper {
    background: rgb(19, 19, 19);
    color: rgb(224, 224, 224);
}

.leaflet-container a {
    color: rgb(43, 106, 148);
}

.leaflet-control-attribution, .leaflet-control {
    color: white;
}

.leaflet-container .leaflet-control-attribution {
    background: rgb(7, 7, 7);
}

.leaflet-bar a {
    border-bottom: 1px solid rgb(43, 106, 148);
}

.leaflet-bar a, .leaflet-bar a.leaflet-disabled {
    background: rgb(39, 39, 39);
}

.popupNumber {
    color: red;
    font-size: 22px;
    font-weight: 800;
}

.highlight {
    font-size: 18px;
    color: rgb(255, 224, 204);
}

::selection {
    background: rgb(25, 52, 75);
    color: white;
}

::-moz-selection {
    background: rgb(25, 52, 75);
    color: white;
}


@media only screen and (max-width: 1900px) {
    .headerBox6 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1500px) {
    .box11, .box13 {
        font-size: 18px;
    }

    .bigRedNumber, .bigGreenNumber {
        font-size: 50px;
    }

    .headerBox6 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1400px) {
    .container {
        grid-template-rows: 40px 100px auto auto 85px;
        grid-gap: 7px;
    }

    .bigRedNumber, .bigGreenNumber {
        font-size: 35px;
    }

    .smallTitle {
        font-size: 20px;
        padding: 5px;
    }

    .box9Totals {
        font-size: 18px;
    }

    .box12 {
        font-size: 18px;
    }

    .box13 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        display: grid;
        height: 100vw;
        width: 100vw;
        justify-self: center;
        grid-template-columns: 1fr;
        grid-template-rows: 80px 85px 85px 85px 400px 300px 300px 300px 300px 300px 300px 180px 60px 65px;
        grid-template-areas:
        "header"
        "box1"
        "box3"
        "box4"
        "box2"
        "box5"
        "box6"
        "box7"
        "box8"
        "box9"
        "box10"
        "box12"
        "box11"
        "box13";
    }

    .bigRedNumber, .bigGreenNumber {
        font-size: 45px;
    }

    #mapid {
        height: 100%;
    }

    .smallTitle {
        font-size: 30px;
        padding: 20px;
    }

    .headerBox6 {
        font-size: 24px;
    }
}
