* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body::webkit-scrollbar {
    width: 11px;
}

body, html {
    background: black;
    color: white;
    height: 100vh;
    width: 100vw;
    font-family: 'Raleway';
    color: rgb(168, 168, 168);
    font-size: 18px;
    
}

body::web-scrollbar-thumb {
    background-color: red;
    border-radius: 6px;
    border: 3px solid rgb(63, 95, 199);
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    justify-self: center;
    grid-gap: 15px;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-template-rows: 40px 150px auto 60px;
    grid-template-areas: 
    "header header header header"
    "box1 box2 box3 box4"
    "box5 box2 box6 box7"
    "box8 box9 box10 box10";
    padding: 10px;
}

.header {
    grid-area: header;
    font-size: 30px;
    color: rgb(180, 180, 180);
}

.boxes {
    background: rgb(19, 19, 19);
    text-align: center;
}

.box1 {
    grid-area: box1;
    position: relative;
    font-size: 20px;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
    position: relative;
    font-size: 20px;
}

.box4 {
    grid-area: box4;
    position: relative;
    font-size: 20px;
}

.box5 {
    grid-area: box5;
}

.box5 > div {
    padding: 20px;
}

.box6 {
    grid-area: box6;
}

.box6 > div {
    padding: 20px;
}

.box7 {
    grid-area: box7;
}

.box7 > div {
    padding: 20px;
}

.box8 {
    grid-area: box8;
    position: relative;
    font-size: 22px;
}

.box9 {
    grid-area: box9;
    position: relative;
    font-size: 18px;
}

.box10 {
    grid-area: box10;
    position: relative;
    font-size: 18px;
    color: rgb(168, 168, 168);
}

a {
    color: rgb(100, 140, 248);
}

a:hover {
    color: rgb(61, 108, 236);
}

.lists {
    text-align: start;
    scrollbar-color: rgb(90, 90, 90) grey;
    scrollbar-width: thin;
    overflow: auto;
}

.centered {
    position: absolute;
    width: 100%;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

.redNumber {
    color: rgb(255, 0, 0);
    font-size: 20px;
}

.bigRedNumber {
    font-size: 65px;
    color: red;
}

.bigGreenNumber {
    font-size: 65px;
    color: rgb(70, 194, 80);
}

.countryColor {
    color: rgb(224, 224, 224);
}

.smallTitle {
    height: 80px;
    background: rgb(19, 19, 19);
    border-bottom: 1px solid rgb(204, 0, 0);
    font-size: 24px;
    text-align: center;
}

.divider {
    font-weight: 400;
    border-bottom: solid 1px rgb(107, 107, 107);
    margin-bottom: 4px;
}

#mapid { 
    height: 100%;
}

#lastUpdated {
    color: rgb(115, 145, 245);
}

.leaflet-container {
    font-family: 'Raleway';
    font-size: 15px;
    font-weight: 600;
}

.leaflet-popup-content-wrapper {
    background: rgb(26, 26, 26);
    color: rgb(224, 224, 224);
}

.popupNumber {
    color: red;
    font-size: 20px;
    font-weight: 800;
}

@media only screen and (max-width: 1500px) {
    .box8 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        display: grid;
        height: 100vw;
        width: 100vw;
        justify-self: center;
        grid-template-columns: 1fr;
        grid-template-rows: 70px 85px 85px 85px 400px 240px 240px 240px 60px 55px 55px;
        grid-template-areas:
        "header"
        "box1"
        "box3"
        "box4"
        "box2"
        "box5"
        "box6"
        "box7"
        "box8"
        "box9"
        "box10";
    }

    .bigRedNumber, .bigGreenNumber {
        font-size: 45px;
    }

    #mapid {
        height: 100%;
    }
}
